
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
    background: #3498db;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
   
  }
  
  .cardbox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
  
  .card {
    width: 100%;
    max-width: 350px; /* Makes it responsive */
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  .cardbody {
    padding: 15px;
    text-align: center;
  }

  .card-title{
    font-size: 18px;
    font-weight: bold;
  }
  .card-price{
    font-weight: bolder;
    color: red;
  }

 
  .card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .card-category,
  .card-restaurant,
  .description {
    font-size: 1rem;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
  }

  .card-images{
    width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  }
  .menu-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
    margin-bottom: 50px;
  }

  .title{
    color: red;
    font-weight: bolder;
  }
  
  .categorytitle{
    color: red;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .headtitle{
    font-weight: bolder;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    font-style:italic;
  }
  .carimg{
   width: 1550px;
    height: 580px;
  }

  .abouttitle{
    color: red;
  }

  .logintitle{
    margin-bottom: 50px;
  }
  .logincard{
    margin-bottom: 150px;
  }
  
  

